{
    "root": true,
    "extends": ["eslint-config-custom-react", "next/core-web-vitals", "next"],
    "rules": {
        "no-console": "warn"
    },
    "settings": {
        "next": {
            "rootDir": "frontend/celebrity-portal/"
        }
    }
}
